{% extends 'base.html' %}

{% block title %}
리스트
{% endblock %}

{% block content %}


</br>
<div class="btn-group">
        <a href="{% url 'add' %}" class="btn btn-info">todo 추가</a>



    </div>
    <p></p>
    <table class="table">
        <thead>

            <tr>
                <th scope="col">우선순위</th>
                <th scope="col">제목</th>
                <th scope="col">내용</th>
                <th scope="col">마감일</th>
                <th scope="col">&nbsp;&nbsp;수정</th>
                <th scope="col">&nbsp;&nbsp;삭제</th>
                <th scope="col">&nbsp;&nbsp;완료</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in object_list %}
                <tr>
                    <!--현재시간-->
                    {% now "Y-m-d" as todays_date %}

                    <td style="text-align: center">{{todo.priority}}</td>

                    <td>{{todo.title}}</td>

                    {% if todo.success == False %}
                    <td><a href="{% url 'detail' pk=todo.id %}" >{{todo.content|truncatechars:30}}</a></td>
                    {% else %}
                    <td class="striker"><a href="{% url 'detail' pk=todo.id %}" style="color: red;">{{todo.content}}</a></td>
                    {% endif %}


                    {% if todays_date <= todo.due_date|date:"Y-m-d" %}
                    <td>{{todo.due_date}}</td>
                    {% elif todo.due_date == None %}
                    <td>-</td>
                    {% else %}
                    <td style="color:red;">마감</td>



                    {% endif %}

                    <td><a href="{% url 'update' pk=todo.id %}" class="btn btn-success btn-sm">수정</a></td>
                    <td><a href="{% url 'delete' pk=todo.id %}" class="btn btn-danger btn-sm">삭제</a></td>
                    {% if todo.success == False %}
                    <td><a href="{% url 'cross' pk=todo.id %}" class="btn btn-primary btn-sm">완료</a></td>
                    {% else %}
                    <td><a href="{% url 'cross' pk=todo.id %}" class="btn btn-primary btn-sm">취소</a></td>
                    {% endif %}




                </tr>
            {% endfor %}
        </tbody>
    </table>
    </br>

{% endblock %}

{% block pagination %}
  {% if is_paginated %}
    <ul class="pagination justify-content-center pagination-sm">
        {% if page_obj.has_previous %}
          <li class="page-item">
              <a class="page-link" href="{% url 'list' %}?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
          </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        {% endif %}

        {% for object in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == forloop.counter %}disabled{% endif %}">
                <a class="page-link" href="{{ request.path }}?page={{ forloop.counter }}">{{ forloop.counter }}</a>
            </li>
        {% endfor %}

        {% if page_obj.has_next %}
          <li class="page-item">
              <a class="page-link" href="{% url 'list' %}?page={{ page_obj.next_page_number }}">Next</a>
          </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
        </li>
        {% endif %}
    </ul>
  {% endif %}
{% endblock %}
